### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)

target
logs

.settings
.project
.metadata

.DS_Store

# PROJECT SPECIFIC IGNORES

# INTELLIJ IDEA IGNORES
*.iml
*.ipr
*.iws
.idea/